{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>HNB Exchange Rate Lookup</span> </h1>
            </div>

            <div id="navigation">
                
            </div>
           
            <div id="rates">
                
            </div>

        </div>
    </div>

    {% block templates %}

        <script type="text/template" id="rates-template">
            <h4></h4>
            <table class="table">
                <thead>
                        <tr>
                            <% for(var column in models[0]) { %>
                                <th><%= column %></th>
                            <% } %>
                        </tr>
                </thead>
                <% for(var i = 0; i<models.length; i++) { %>
                    <tr>
                        <% if(models[i].currency) { %>
                            <td><%= models[i].currency %></td>
                            <td><%= models[i].unitValue %></td>
                            <td><%= models[i].buyingRate %></td>
                            <td><%= models[i].medianRate %></td>
                            <td><%= models[i].sellingRate %></td>
                            <td><%= models[i].onDate %></td>
                        <% } else { %>
                            <td><%= models[i].currency_code %></td>
                            <td><%= models[i].unit_value %></td>
                            <td><%= models[i].buying_rate %></td>
                            <td><%= models[i].median_rate %></td>
                            <td><%= models[i].selling_rate %></td>
                        <% } %>
                        
                    </tr>
                <% } %>
            </table>
        </script>

         <script type="text/template" id="rates-history-template">
            <h4>History from database</h4>
            <table class="table">
                <thead>
                        <tr>
                            <% for(var column in models[0].attributes) { %>
                                <th><%= column %></th>
                            <% } %>
                        </tr>
                </thead>
                <% for(var i = 0; i<models.length; i++) { %>
                    <tr>
                        <td><%= models[i].attributes.currency %></td>
                        <td><%= models[i].attributes.unitValue %></td>
                        <td><%= models[i].attributes.buyingRate %></td>
                        <td><%= models[i].attributes.medianRate %></td>
                        <td><%= models[i].attributes.sellingRate %></td>
                        <td><%= models[i].attributes.onDate %></td>
                    </tr>
                <% } %>
            </table>
            
        </script>

        <script type="text/template" id="navigation-template">
            <div class="row">
                <div class="col-lg-5">
                    <div class="input-group ">
                        <input type="text" class="form-control pickDateFrom"  placeholder="pick date from.." aria-describedby="basic-addon2">
                        <span class="input-group-addon " id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group ">
                        <input type="text" class="form-control pickDateTo"  placeholder="pick date to.." aria-describedby="basic-addon2">
                        <span class="input-group-addon " id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

                <div class="btn-group currencyPick">
                    <a id="currencyPicked" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">EUR <span class="caret"></span></a>
                    <ul class="dropdown-menu curencyValues" aria-labelledby="">
                        <li><a href="#">EUR</a></li>
                        <li><a href="#">USD</a></li>
                        <li><a href="#">AUD</a></li>
                        <li><a href="#">CAD</a></li>
                        <li><a href="#">CZK</a></li>
                        <li><a href="#">DKK</a></li>
                        <li><a href="#">HUF</a></li>
                        <li><a href="#">JPY</a></li>
                        <li><a href="#">NOK</a></li>
                        <li><a href="#">SEK</a></li>
                        <li><a href="#">CHF</a></li>
                        <li><a href="#">GBP</a></li>
                        <li><a href="#">PLN</a></li>
                    </ul>
                </div>
                
                <button type="button" id="getCurrency" class="btn btn-success"> Get </button>
                
            </div>
            <br />
            <h4>Get and save from Api</h4>
            <div class="row">
                
                <div class="col-lg-5">
                    <div class="input-group ">
                        <input type="text" class="form-control pickDate"  placeholder="pick date.." aria-describedby="basic-addon2">
                        <span class="input-group-addon " id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <input id="force" type="checkbox" /> <span> Force </span>
                <button type="button" id="getCurrencyFromApi" class="btn btn-success"> Get </button>
            </div>


            <h4>Convert by last median rate</h4>
            <div class="row">
                <div class="col-lg-4">
                        <input type="text" class="form-control insertedValue"  placeholder="insert value..." aria-describedby="basic-addon2"> 
                </div>
                <div class="btn-group currencyForConvert">
                    <a id="currencyConvert" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">EUR <span class="caret"></span></a>
                    <ul class="dropdown-menu curencyValuesConvert" aria-labelledby="">
                        <li><a href="#">EUR</a></li>
                        <li><a href="#">USD</a></li>
                        <li><a href="#">AUD</a></li>
                        <li><a href="#">CAD</a></li>
                        <li><a href="#">CZK</a></li>
                        <li><a href="#">DKK</a></li>
                        <li><a href="#">HUF</a></li>
                        <li><a href="#">JPY</a></li>
                        <li><a href="#">NOK</a></li>
                        <li><a href="#">SEK</a></li>
                        <li><a href="#">CHF</a></li>
                        <li><a href="#">GBP</a></li>
                        <li><a href="#">PLN</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control convertedValue" disabled placeholder="converted value.." aria-describedby="basic-addon2">
                </div>
                <button type="button" id="convertToKN" class="btn btn-success"> Convert to KN </button>
            </div>

            <br />
        </script>
    {% endblock %}
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bundles/app/js/lib/bootstrap-3.3.4-dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/css/main.css') }}"> 
    <link rel="stylesheet" href="{{ asset('/bundles/app/js/lib/jquery/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/app/js/lib/jquery/jquery.datetimepicker.css') }}">

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/bundles/app/js/lib/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/app/js/lib/bootstrap-3.3.4-dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/app/js/lib/jquery/external/jquery/jquery.js') }}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script> 
    <script type="text/javascript" src="{{ asset('/bundles/app/js/lib/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/app/js/lib/backbone.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('/bundles/app/js/lib/jquery/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/app/js/lib/jquery/jquery.datetimepicker.full.min.js') }}"></script>
    {%  javascripts '@AppBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}